API Reference
=============

This section contains the API documentation for {{ project_name }}.

.. autosummary::
   :toctree: _autosummary
   :recursive:

   {{ project_name }}

Core Modules
------------

.. automodule:: {{ project_name }}
   :members:
   :undoc-members:
   :show-inheritance:
